
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

/extra

node_modules

/playground/sandbox/
/playground/ssr/

/playground/*/.env.local
/playground/*/composer.lock
/playground/*/.env.local.php
/playground/*/.env.*.local
/playground/*/config/secrets/prod/prod.decrypt.private.php
/playground/*/public/bundles/
/playground/*/var/
/playground/*/vendor/

/playground/*/public/build
/playground/*/public/build-1
/playground/*/public/build-2
/playground/*/public/infos

/playground/vite-only/dist

.local

/docs/*/.vitepress/cache/
/docs/*/.vitepress/dist/