[submodule "extra/vite-bundle"]
	path = extra/vite-bundle
	url = git@github.com:lhapaipai/vite-bundle
[submodule "extra/vite-plugin-symfony"]
	path = extra/vite-plugin-symfony
	url = git@github.com:lhapaipai/vite-plugin-symfony
