
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

/playground/sandbox/

/playground/*/.env.local
/playground/*/.env.local.php
/playground/*/.env.*.local
/playground/*/config/secrets/prod/prod.decrypt.private.php
/playground/*/public/bundles/
/playground/*/var/
/playground/*/vendor/

node_modules

/playground/*/public/build
/playground/*/public/build1
/playground/*/public/build2
/playground/*/public/infos

/public/build
/public/build1
/public/build2
/public/infos

.local
