{% extends 'base.html.twig' %}

{% block title %}HelloController!{% endblock %}

{% block html_class %}page-build-1{% endblock %}

{% block content %}
<div>
  <h1>Symfony & Vite</h1>
  <p>Build 1</p>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{{ vite_entry_link_tags('pageBuild1') }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ vite_entry_script_tags('pageBuild1') }}
{% endblock %}