framework:
    notifier:
        chatter_transports:
            mercure: 'mercure://default?topic=/chat/symfony-vite'
        texter_transports:
        channel_policy:
            # use chat/slack, chat/telegram, sms/twilio or sms/nexmo
            urgent: ['email']
            high: ['email']
            medium: ['email']
            low: ['email']
        admin_recipients:
            - { email: admin@example.com }
