{% extends 'base.html.twig' %}

{% block title %}Other page
{% endblock %}

{% block html_class %}page-other
{% endblock %}

{% block content %}
  <h1>Other</h1>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}
