{% extends 'base.html.twig' %}

{% block title %}HelloController!{% endblock %}

{% block content %}
<div>
    <h1>Welcome vite !</h1>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{{ vite_entry_link_tags('welcome') }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ vite_entry_script_tags('welcome') }}
{% endblock %}