{% extends 'base.html.twig' %}

{% block title %}HelloController!{% endblock %}

{% block html_class %}page-live-component{% endblock %}

{% block content %}
  <div class="cards">
    <div class="card">
    {{ component('TownSearch') }}
    </div>
    <div class="card">
      {{ component('RegistrationForm') }}
    </div>
  </div>
{% endblock %}

