{% extends 'base.html.twig' %}

{% block title %}React !{% endblock %}

{% block html_class %}page-react{% endblock %}

{% block content %}
    <div {{ react_component('App', { 'name': 'Vite, Stimulus & React' }) }}></div>
{% endblock %}

