{% extends 'base.html.twig' %}

{% block title %}HelloController!{% endblock %}

{% block html_class %}page-svelte{% endblock %}

{% block content %}
  <div {{ svelte_component('App', { 'name': 'Vite, Stimulus & Svelte' }) }}></div>
{% endblock %}

