{% extends 'base.html.twig' %}

{% block title %}HelloController!{% endblock %}

{% block html_class %}page-twig{% endblock %}

{% block content %}
  <div>
    {{ component('Alert', { message: ' I am a success alert!' }) }}
    {{ component('Alert', { message: 'Oh no! The dinos escaped!', type: 'danger' }) }}
  </div>
{% endblock %}

