{% extends 'base.html.twig' %}

{% block title %}HelloController!{% endblock %}

{% block html_class %}page-typed{% endblock %}

{% block content %}
<div>
    I created this UX component because
    <span {{ stimulus_controller('symfony/ux-typed', {
        strings: ['I â¤ Symfony UX', 'Symfony UX is great', 'Symfony UX is easy']
    }) }}></span>
</div>
{% endblock %}

