{% extends 'base.html.twig' %}

{% block title %}Vue !{% endblock %}

{% block html_class %}page-vue{% endblock %}

{% block content %}
<div {{ vue_component('App', { 'name': 'Vite, Stimulus & Vue' }) }}></div>
{% endblock %}

